.TributePage {
  text-align: center;
  display: grid;

  &__row {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, minmax(50px, auto));
    margin: auto;
  }

  &__col {
    grid-column-start: 2;
    grid-column-end: 10;
  }

  &__copy {
    text-align: left;
  }
}
