.TributePage {
  text-align: center;

  &__copy {
    text-align: left;

    &__row {
      display: grid;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: repeat(3, minmax(50px, auto));
      margin: auto;

      &--col {
        grid-column-start: 2;
        grid-column-end: 10;
      }
    }
  }
}
