.MarkdownPreviewer {
  html,
  body {
    height: 100%;
  }

  textarea {
    overflow-y: auto;
  }

  &__input,
  &__output {
    box-sizing: border-box;
    width: 100%;
    height: 50vh;
    overflow-y: auto;
    padding: 2vh;
    border: 1px solid black;
  }
  @media (min-width: 769px) {
    &__input,
    &__output {
      width: 49.9%;
      height: 135vh;
      overflow-y: hidden;
      box-sizing: border-box;
    }

    textarea {
      resize: none;
    }

    &__input {
      float: left;
      font-family: courier;
      font-size: 1rem;
    }

    &__output {
      float: right;
      background-color: #d3d3d3;
    }
  }
}
