.GameofLive {
  text-align: center;
}
.GameofLive {
  text-align: center;
}
.GameofLive {
  text-align: center;
}
.GameofLive {
  text-align: center;
}
.GameofLive {
  text-align: center;
}
.GameofLive {
  text-align: center;
}
