.WikipediaViewer {
  text-align: center;

  &__searchBox {
    font-family: 'Linux Libertine', 'Hoefler Text', Georgia, 'Times New Roman',
      Times, serif;
  }

  &__link {
    text-decoration: none;
    color: black;
    text-align: left;
  }

  &__result {
    color: black;
  }

  &__result:hover {
    border-left: 5px solid #337ab7;
  }
}
