.DataAcrosstheGlobe {
  text-align: center;
}
.DataAcrosstheGlobe {
  text-align: center;
}
.DataAcrosstheGlobe {
  text-align: center;
}
.DataAcrosstheGlobe {
  text-align: center;
}
.DataAcrosstheGlobe {
  text-align: center;
}
.DataAcrosstheGlobe {
  text-align: center;
}
