html,
body {
  margin: 0;
  padding-top: 65px;
  background-color: grey;
  color: cyan;
}

.container {
  margin: auto;
  text-align: left;
  max-width: 100%;

  &__image {
    width: 100px;
    height: auto;
  }
}

.left {
  text-align: left;
}
